<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is team swift technology">
    <meta name="author" content="Team Swift Technology">
    <title>Team Swift Technology</title>

    <link rel="canonical" href="">
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/register.css' %}" rel="stylesheet">
    <script src="{% static 'app/Js/validation_register.js' %}"></script>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form action="#" method="post">
        <img class="mb-4" src="{% static 'assets/img/logo.png' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

        {% csrf_token %}

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="form-floating">
          {{ form.firstname }}
          <label for="floatingInput">First Name</label> 
        </div>
        <div class="form-floating">
          {{ form.lastname }}
          <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating">
          {{ form.email }}
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          {{ form.username }}
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          {{ form.password }}
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; ELECTROMART. All Rights Reserved</p>
      </form>
    </main>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
