*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}
/* top navbar */
.top-navbar{
    display:flex;
    justify-content: space-between;
}
.top-navbar p{
    margin-top: 13px;
    margin-left: 15px;
}
.top-navbar .icons{
    margin-top:13px;
    margin-left: 15px;
}
.top-navbar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.top-navbar a img{
    margin-bottom: 3px;
}
.top-navbar a:hover{
    color: black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}
/* top navbar */
/* navbar */
#navbar{
    background-color: rgb(21, 0, 86);
}
#logo{
margin-left: 15px;
color: white;
font-size: 25px;
font-weight: bold;
margin-bottom: 6px;
}
#logo span{
    color: #ff0008;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #ff0008;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu .li a:hover{
    background-color: rgb(21, 0, 86);
    color: #ff0008;
}
#search input{
    border-radius: 50px;
    border: none;
}
#search button{
    border-radius: 50px;
    color: white;
    border: 1px solid #ff0008;
    background-color: #ff0008;
}
/* navbar */






.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
     z-index: 0;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    margin-top: 30px;
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
}                    
.content h1{ 
    color: rgb(21 0 86);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px  black;
}
.content h1 span{
    color: rgb(21 0 86);
    text-shadow: 1px  1px  1px  black;
}
#span2{
    color: #ff0008;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(21 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
    }
    .btn button:hover{
        background-color: #ff0008;
        color: black;
        border: none;
    }
    @media screen and (max-width:1200px){
        .home{
            height: 90vh;
        }
    }
    
    @media screen and (max-width:799px){
        .home{
            height: 140vh;
        }
    }
    @media screen and (max-width:550px){
        .content h1{
            font-size: 110vh;
        }
    }
    @media screen and (max-width:420px){
        .content h1{
            font-size: 45px;
        }
    }
    @media screen and (max-width:320px){
        .content h1{
            font-size: 40px;
       
        }
    } 
    
/*home content */ 
#bdy{
    background-color: white;
}