{% extends 'base.html' %} 
{% load static %}

{% block content %}

<section class="home">
  <div class="content">
    <h1> <span>Electromart Products</span>
      <br>
      Sales! Sales! Sales! <br><span id="span2">10%</span>  Off
    </h1>
    <p>At Team swift's electronic mart, you are sure of the best.
<br>Order now and get half price slashed!.
  </p>
  <div class="btn" ><button>Shop Now!</button></div>
  </div>
<div class="img">
  <img src="{% static 'app/img/background.jpg' %}" alt="">
</div>
</section> 
<!--Content end -->








<!--Cards start-->
<div class="container" id="product-cards">
  <h1 class="text-center">OUR PRODUCTS</h1>
<div class="row" style="margin-top: 30px;">
<div class="col-md-3 py-3 py-md-0">
<div class="card">
  <img src="{% static 'app/img/iphone.png' %}" alt="">
  <div clas="card-body">
    <h3 class="text-center">Iphone 14 pro</h3>
    <p class="text-center">iPhone 14 Pro - 256GB
      </p>
<div class="star text-center">
  <i class="fa-solid fa-star checked"></i>
  <i class="fa-solid fa-star checked"></i>
  <i class="fa-solid fa-star checked"></i>
  <i class="fa-solid fa-star checked"></i>
  <i class="fa-solid fa-star checked"></i>
</div>
<h2>₦1,019,000 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
  </div>
</div>
</div>
<div class="col-md-3 py-3 py-md-0">
  <div class="card">
    <img src="{% static 'app/img/mac.jpg' %}" alt="" style="height: 273px;">
    <div clas="card-body">
      <h3 class="text-center">MacBook Pro</h3>
      <p class="text-center">With Apple M1 Chip - 13
        </p>
  <div class="star text-center">
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
  </div>
  <h2>₦2,750,000<span><i class="fa-solid fa-cart-shopping"></i></span></h2>
    </div>
  </div>
  </div>
  <div class="col-md-3 py-3 py-md-0">
    <div class="card">
      <img src="{% static 'app/img/airpod.png' %}" alt="" style="height: 273px;">
      <div clas="card-body">
        <h3 class="text-center">Airpod</h3>
        <p class="text-center">Airpod pro wireless
          </p>
    <div class="star text-center">
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
    </div>
    <h2>₦10,000 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
      </div>
    </div>
    </div>
    
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/ipad.png' %}" alt="" style="height: 273px;">
        <div clas="card-body">
          <h3 class="text-center">Ipad 5</h3>
          <p class="text-center">Wifi+SIM, 9.7 Inches, 128GB ROM
            </p>
      <div class="star text-center">
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
      </div>
      <h2>₦186,666 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
        </div>
      </div>
      </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-3 py-3 py-md-0">
  <div class="card">
    <img src="{% static 'app/img/wristwatch.png' %}" alt="" style="height: 300px;">
    <div clas="card-body">
      <h3 class="text-center">Gold Wristwatch</h3>
      <p class="text-center">Luxury gold full metal wristwatch
        </p>
  <div class="star text-center">
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
    <i class="fa-solid fa-star checked"></i>
  </div>
  <h2>₦26,500<span><i class="fa-solid fa-cart-shopping"></i></span></h2>
    </div>
  </div>
  </div>
  <div class="col-md-3 py-3 py-md-0">
    <div class="card">
      <img src="{% static 'app/img/monitor.png' %}" alt="" style="height: 300px;">
      <div clas="card-body">
        <h3 class="text-center">Computer Monitor</h3>
        <p class="text-center">Hp M22f (21.5" ) FHD IPS Monitor 
          </p>
    <div class="star text-center">
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
      <i class="fa-solid fa-star checked"></i>
    </div>
    <h2>₦160,000 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
      </div>
    </div>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/android.png' %}" alt="" style="height: 300px;">
        <div clas="card-body">
          <h3 class="text-center">Oppo Phone </h3>
          <p class="text-center">A series smartphones
            </p>
      <div class="star text-center">
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
        <i class="fa-solid fa-star checked"></i>
      </div>
      <h2>₦250,000 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
        </div>
      </div>
      </div>
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="{% static 'app/img/head.jpg' %}" alt="" style="height: 282px;">
          <div clas="card-body">
            <h3 class="text-center">Mic Headphone</h3>
            <p class="text-center"> Microphone Compatible With Razer- Black Shark.
              </p>
        <div class="star text-center">
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
        </div>
        <h2>₦14896 <span><i class="fa-solid fa-cart-shopping"></i></span></h2>
          </div>
        </div>
        </div>
        </div>
  </div>
<!--Card start-->





<!--Other cards start-->
<div class="container" id="other-cards">
  <div class="row">
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/laptop2.jpg' %}" alt="">
        
          <h3> Best HP Laptop</h3>
          <h5>Latest Version</h5>
          <p>Up To 10% Off</p>
          <button id="shopnow">Shop Now</button>
        </div>
      </div>
    
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/head2.jpg' %}" alt="">
        
          <h3>Best Headphone</h3>
          <h5>Latest Version</h5>
          <p>Up To 10% Off</p>
          <button id="shopnow">Shop Now</button>
        </div>
</div>
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/iphone.png' %}" alt="">
        <h3>Best iphone Pro Max</h3>
          <h5>Latest Collection</h5>
          <p>Up To 10% Off</p>
          <button id="shopnow">Shop Now</button>
        </div>
      </div>
    
    <div class="col-md-3 py-3 py-md-0">
      <div class="card">
        <img src="{% static 'app/img/ipad.jpg' %}" alt="">
        <h3>Best Apple Ipad Air</h3>
          <h5>Latest Version</h5>
          <p>Up To 10% Off</p>
          <button id="shopnow">Shop Now</button>
        </div>
      </div>
  </div>
  </div>
<!--Other cards end-->

    



<!-- Banner start-->
    <section class="banner">
      <div class="content">
        <h1> <span>Must Buy Gadgets</span>
          <br>
          Up To <span id="span2">10%</span> Off
        </h1>
        <p class="quality">Quality and affordable electronic gadgets @ swift's electronic store.
          <br>Buy now and pay later.
        </p>
        <div class="btn"><button>Shop Now</button></div>
  </div>
      <div class="img">
        <img src="{% static 'app/img/kitchen9.jpg' %}" alt="" style="height: 400px; margin-top: 0px; margin-bottom: none;">
      </div>
    </section>
    <!--Banner end-->




<!--Product cards start-->
    <div class="container" id="product-cards">

      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/kitchen9.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Home Appliances</h3>
              <p class="text-center">Makes life easy.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦800,000<span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/airfryer.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Airfryer</h3>
              <p class="text-center">Small appliance for your kitchen</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦56,500 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/toaster.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Toaster</h3>
              <p class="text-center">Toast and toss .</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦20,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/aircon.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Airconditioner</h3>
              <p class="text-center">Best cooling effect</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦150,000<span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
      </div>
<!--Product cards end-->





      <!-- other cards start-->
    <div class="container" id="other">
      <div class="row">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/electro.jpg' %}" alt="" style="height: 200px;">
            <div class="card-img-overlay">
              <h3>Electronic Gadgets</h3>
              <p>Latest Versions Up To 10% Off</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/gaming.jpg' %}" alt="" style="height: 200px;">
            <div class="card-img-overlay">
              <h3>Gaming Gadgets</h3>
              <p>Latest Versions  Up To 10% Off</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/home2.jpg' %}" alt="" style="height: 200px;">
            <div class="card-img-overlay">
              <h3>Home Gadgets</h3>
              <p>Latest Versions Up To 10% Off</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- other cards end -->



<!--Product cards start-->
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/home.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Home Theatre</h3>
              <p class="text-center">Hisense Sound</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦50,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/tv.jpg'  %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Television</h3>
              <p class="text-center">Smart Television.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦350,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/fan.jpg'  %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Fan</h3>
              <p class="text-center">Rechargeable table fan</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦25,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/wireless.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Table Phone</h3>
              <p class="text-center">wireless Intercom.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦25,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/cylinder.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Gas Cylinder</h3>
              <p class="text-center">12kg Light Weighted.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦23,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/gas.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Gas Cooker</h3>
              <p class="text-center">4 Burner Gas Cooker.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦52,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/washing.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Washing Machine</h3>
              <p class="text-center">Midea Washing Machine.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦140,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <img src="{% static 'app/img/kitchen.jpg' %}" alt="" style="height: 200px;">
            <div class="card-body">
              <h3 class="text-center">Kitchen Gadgets</h3>
              <p class="text-center">Kitchen Glory.</p>
              <div class="star text-center">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
              </div>
              <h2>₦250,000 <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--Product cards end-->






<!-- Offer start-->
    <div class="container" id="offer">
      <div class="row">
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-cart-shopping"></i>
          <h3>Free Shipping</h3>
          <p>On order over ₦500,000</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-rotate-left"></i>
          <h3>Returns</h3>
          <p>Within 7 days</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-truck"></i>
          <h3>Fast Delivery</h3>
          <p>Nation Wide</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-thumbs-up"></i>
          <h3>Choose</h3>
          <p>your products</p>
        </div>
      </div>
    </div>
    <!-- Offer end-->





    
    <!-- Newsletter start-->
    <div class="container" id="newsletter">
      <h3 class="text-center">Subscribe To ElectroMart For our Latest products.</h3>
      <div class="input text-center">
        <input type="text" placeholder="Enter Your Email..">
        <button id="subscribe">SUBSCRIBE</button>
      </div>
    </div>
    <!-- Newsletter end-->

{% endblock %}
