{% extends 'base.html' %} 
{% load static %}

{% block content %}

<body>
    
<!-- Main content start -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Electromart!</h1>
                    <p class="lead">Explore a wide range of electronic products.</p>
                    <hr class="my-4">
                    <p>We have the best deals for you. Shop now!</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main content end -->
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-r-HWiTL6Bn14NDn/pCrlj6mW0wS+T9tzQHHTbX8veBfY1pF0mc1ekSnWw10eJQof" crossorigin="anonymous"></script>
</body>
{% endblock %}
