{% load static %}
{% block content %}
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>ELECTROMART</h3>
          <p>
            Toyin <br>
            Light <br>
            James <br>
            Bode<br>
          </p>
          <strong>Phone:</strong> +23456444999333 <br>
          <strong>Email:</strong> teamswift@gmail.com <br>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Take note</h4>
          <ul>
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
           <!-- <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'terms' %}">Terms of Service</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li> ----->
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="{% url 'macbook' %}">Mac Book</a></li>
            <li><a href="{% url 'homeappliances' %}">Home Appliances</a></li>
            <li><a href="{% url 'ipad' %}">iPad</a></li>
            <li><a href="{% url 'mobilephone' %}">Mobile Phone</a></li>
            <li><a href="{% url 'kitchengadgets' %}">Kitchen Gadgets</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Social Media</h4>
          <p>You can contact us on any of the following social media handles.</p>
          <div class="social-links mt-3">
            <a href="{% url '#' %}"><i class="fab fa-twitter"></i></a>
            <a href="{% url '#' %}"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url '#' %}"><i class="fab fa-instagram"></i></a>
            <a href="{% url '#' %}"><i class="fab fa-skype"></i></a>
            <a href="{% url '#' %}"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>ELECTROMART</span></strong>.
      All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="{% url 'team_swift' %}">Team Swift</a>
    </div>
  </div>
</footer>
{% endblock %}