{% load static %}

<!-- Header start -->
<header>
    <div class="top-navbar">
        <p>WELCOME TO TEAM SWIFT'S ELECTROMART</p>
        <div class="icons">
            <a href="{% url 'login' %}" target="_blank"><i class="fas fa-right-to-bracket" style="color: red;"></i>Login</a>
            <a href="{% url 'register' %}" style="margin: 20px;" target="_blank"><i class="fas fa-right-to-bracket" style="color: red;"></i>Register</a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}" id="logo"> <span id="span1">ELECTROMART</span> <span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><img src="{% static 'images/menu.png' %}" alt="" width="30px" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Our Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            All Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(67, 0, 86);">
                            <li><a class="dropdown-item" href="{% url 'phone' %}" target="_blank">Mobile phones</a></li>
                            <li><a class="dropdown-item" href="{% url 'computers' %}" target="_blank">Computers</a></li>
                            <li><a class="dropdown-item" href="{% url 'conditioners' %}" target="_blank">Air Conditioners</a></li>
                            <li><a class="dropdown-item" href="{% url 'airpods' %}" target="_blank">AirPods</a></li>
                            <li><a class="dropdown-item" href="{% url 'watches' %}" target="_blank">Smart Watches</a></li>
                            <li><a class="dropdown-item" href="{% url 'head_phones' %}" target="_blank">Headphones</a></li>
                            <li><a class="dropdown-item" href="{% url 'washing_machines' %}" target="_blank">Washing Machines</a></li>
                            <li><a class="dropdown-item" href="{% url 'monitors' %}" target="_blank">PC Monitors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}" target="_blank">Contact Us</a>
                    </li>
                </ul>

                <form class="d-flex" id="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" target="_blank">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<!-- Header end -->
