<p>Welcome to Team Swift Electronic, kindly sign up</p>
<form id="signup-form" action="login.html" method="post" style="background-color: #EE9972;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" value="submit">Sign Up</button>
</form>

<script>
  // Add an event listener to the form submission
  document.getElementById('signup-form').addEventListener('submit', function() {
    // Clear the last field value
    //document.getElementById('id_last_field_name').value = '';
  });
</script>
