{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container" id="register">
  <div class="row">
      <div class="col-md-5 py-3 py-md-0" id="side1">
          <h3 class="text-center">Register</h3>
      </div>
      <input class="col-md-7 py-3 py-md-0" id="side2">
          <h3 class="text-center">Create Account</h3>
          <input class="input2 text-center">
          <input type="name" placeholder="Name">First Name</input>
          <input type="name" placeholder="User Name">Last Name</input>
          <input type="name" placeholder="username">Username</input>
          <input type="email" placeholder="Email">Email</input>
          <input type="password" placeholder="Password">Password</input>
          </div>
          <p class="text-center" id="btnlogin"><a href="#">SIGN UP</a></p>
      </div>

  </div>
 </div>
</body>
</html>
{% endblock %}

