[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
django-templated-mail = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
oauthlib = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-cors-headers = "*"
accounts = "*"

[dev-packages]

[requires]
python_version = "3.10"
